/* =============================
    LAYOUT TỔNG (WRAPPER)
============================= */
.admin-wrapper {
  display: flex;
  height: 100vh;
  background: #000;        /* nền đen chuẩn Spotify */
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
}


/* =============================
    SIDEBAR (TRÁI)
============================= */
.admin-sidebar {
  width: 260px;
  background: #121212;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #222;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.admin-sidebar-title {
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 700;
}

.admin-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-link {
  color: #B3B3B3;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s;
}

.admin-link:hover {
  background: #2A2A2A;
  color: #fff;
}

.admin-link.active {
  background: #3A3A3A
;
  color: white;
}


/* =============================
    RIGHT PANEL (HEADER + CONTENT)
============================= */
.admin-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  /* quan trọng: không có nền xám nữa */
  background: transparent;
  border: none;

  overflow: hidden;
}


/* =============================
    HEADER CARD ĐẸP
============================= */
.admin-header-card {
  background: #1f1f1f;
  min-height: 55px;

  padding: 12px 22px;
  border-radius: 14px;
  border: 1px solid #2c2c2c;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* cách viền admin-right */
  margin: 0px 10px 15px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.admin-header-title {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

/* Avatar dropdown */
.admin-header-right {
  position: relative;
}

.admin-avatar-box {
  cursor: pointer;
}

.admin-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #444;
}

.admin-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 150px;
  background: #1d1d1d;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 8px 0;
}

.dropdown-item {
  padding: 10px 12px;
  color: #ddd;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown-item:hover {
  background: #333;
}

.dropdown-item.logout {
  color: #ff6b6b;
}


/* =============================
    CONTENT (giống header)
============================= */
.admin-content {
  flex: 1;
  overflow-y: auto;

  padding: 20px 30px;
  background: linear-gradient(
  to bottom,
  #0F0F0F 0%,
  #121212 40%,
  #181818 100%
  );


  border: 1px solid #2c2c2c;
  border-radius: 14px;

  margin: 0 10px; /* căn khớp header */
  color: white;
}
