/* music-frontend/src/pages/AdminPage.css */
.admin-container {
  padding: 20px;
}

.admin-container h1 {
  color: var(--color-text-primary);
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 10px;
}

.admin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.admin-widget {
  background-color: var(--color-surface);
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #282828;
}
.admin-widget h2 {
  margin-top: 0;
}
.admin-widget p {
  color: var(--color-text-secondary);
}
.admin-widget button {
  background-color: var(--color-accent);
  color: var(--color-black);
  border: none;
  padding: 8px 16px;
  border-radius: 500px;
  font-weight: bold;
  cursor: pointer;
}